<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav" style="margin:0 auto">
            <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
            <li class="nav-item"><a asp-controller="Home" asp-action="CreateBook" class="nav-link">Add Book</a></li>
            <li class="nav-item"><a asp-controller="Authors" asp-action="CreateAuthor" class="nav-link">Add Author</a></li>
            <li class="nav-item"><a asp-controller="Countries" asp-action="CreateCountry" class="nav-link">Add Country</a></li>
            <li class="nav-item"><a asp-controller="Categories" asp-action="CreateCategory" class="nav-link">Add Category</a></li>
            <li class="nav-item"><a asp-controller="Reviewers" asp-action="CreateReviewer" class="nav-link">Add Reviewer</a></li>
        </ul>
    </div>
</nav>
